{%extends 'base2.html'%}

{%block head%}

<title>About us</title>

{%endblock%}

{%block body%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
                   <h2>POTIONS</h2></br>
                   <h4>You can read thousands of books related potions.Get your chemistry lab ready!</h4></br>
                   <h2>DARK MAJICS</h2></br>
                   <h4>Use them wisely</h4></br>
                   <h2>RESTRICTED AREA</h2></br>
                   <h4>Dont even think to enter here</h4></br>

        </div>
         <div class="col-sm-3">

        </div>
    </div>
   </div>
 </div>
</div>

{%endblock%}